[Unit]
Description=Host State Monitoring and Logging
Wants=xyz.openbmc_project.State.Host.service
After=xyz.openbmc_project.State.Host.service

[Service]
Restart=on-failure
ExecStart=/usr/bin/env ampere-state-logger
SyslogIdentifier=ampere-state-logger
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
