[Unit]
Description= NMI management

[Service]
ExecStart=@bindir@/nmi-manager
Type=dbus
BusName=xyz.openbmc_project.Control.Host.NMI
SyslogIdentifier=nmi-manager

[Install]
WantedBy=multi-user.target
