[Unit]
Description=Altra Host Error Monitor

[Service]
Restart=always
ExecStart=/usr/sbin/altra-host-error-monitor
Type=simple

[Install]
WantedBy=multi-user.target
