[Unit]
Description= Crash Capture Management
After=multi-user.target

[Service]
ExecStart=@bindir@/crash-capture-manager
Type=dbus
BusName=com.ampere.CrashCapture.Trigger
SyslogIdentifier=crash-capture-manager

[Install]
WantedBy=multi-user.target
