[Unit]
Description = Ampere MCTP Control
After=pldmd.service
BindTo=pldmd.service

[Service]
Restart=always
ExecStart=/usr/sbin/ampere-mctp-ctrl
Type=dbus
BusName=xyz.openbmc_project.MCTP

[Install]
WantedBy=pldmd.service
